* {
    font-family: Helvetica;
    color: seashell;
    background-color: black;
    text-align: center;
    opacity: 0.9;
}

/* Header */
.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 1;
    width: 100%;
    height: 69px;
    border-bottom: 1px solid seashell;
}

.center {
    display: inline-flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.logo {
    left: 10px;
    height: 50px;
}

.navigation {
    right: 0;
    font-size: 22px;
}

.navigation a {
    padding: 15px;
}

/* Body */
.main {
    position: relative;
    top: 62px;
}

/* Mission Section */
#mission {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/img-mission-background.jpg);
    background-repeat: no-repeat;
    margin: 0 auto;
    height: 700px;
    max-width: 1200px;
}

.banner {
    width: 100%;
}

/* Featured Tea Section */
#featured-tea {
    max-width: 1000px;
    margin: 75px auto;
    flex-wrap: wrap;
}

.container-1 {
    display: inline-block;
}

.display-img {
    width: 300px;
    height: 200px;
    margin: 0 10px;
}

.container-1 h4 {
    margin-top: 10px;
}

/* Locations Section */
#locations {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/img-locations-background.jpg);
    background-position: top 50%;
    background-size: cover;
    margin: 0 auto;
    height: 500px;
    max-width: 1200px;
}

.location-content {
    background-color: transparent;
}

#locations h2 {
    background-color: transparent;
    margin: 0;
}

 .container-2 {
     display: inline-block;
     opacity: 1;
     width: 300px;
     margin: 15px 20px;
 }

 .container-2 h3,
 .container-2 p {
     padding: 7px;
 }

 .footer {
     margin-top: 0;
 }